---
---

@import "settings";

#statistics span {
    color: $alt-color;
}

#hitmap {
    display: inline-flex;
    width: 300px;
    height: 300px;

    .bin {
        &.normal {
            opacity: 0.4;
            fill: hsl(0, 0%, 46%);
        }

        &.highlighted {
            opacity: .6;
            fill: $alt-color;
        }
    }

    circle.border {
        fill: hsl(200, 0%, 46%);
        stroke-width: 1px;
        stroke: hsl(200, 0%, 24%);
        transition: opacity .5s;
        opacity: .2;

        &:hover {
            transition: opacity .5s;
            opacity: .8;
        }
    }

    circle.outer-circle {
        fill: none;
        stroke-width: 1px;
        stroke: hsl(200, 0%, 24%);
        stroke-dasharray: 4px;
        opacity: .3;
    }

    .axis {
        font-family: $base-font-family;
        transition: opacity .5s;
        opacity: .3;

        &:hover {
            transition: opacity .5s;
            opacity: .5
        }
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

#histogram {
    display: inline-flex;
    width: 320px;
    height: 150px;
    background-color: none;

    svg {
        width: 100%;
        height: 100%;
    }

    .axis {
        font-family: $base-font-family;

        transition: opacity .5s;
        opacity: .3;

        &:hover {
            transition: opacity .5s;
            opacity: .5;
        }
    }

    .bar rect {
        fill: $alt-color;
    }

    .bar rect:hover {
        fill: darken($alt-color, 10%);
    }

    .bar text {
        font-size: 6pt;
        opacity: 0.5;
    }
}

#statistics {
    width: 320px;
    height: 150px;
    color: hsla(0, 0%, 0%, .5);
    padding: 25px;
    padding-top: 25px;
    font-size: 12px;
}

.h-vis {
    width: 300px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.visualization {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: $background-color;
    margin-bottom: 1em;
}
