image: ruby:2.5
before_script:
  - bundle install

test:
  stage: test
  script:
    - bundle exec jekyll build -d test
  artifacts:
    paths:
    - test
  except:
  - master

pages:
  stage: deploy
  script:
    - bundle exec jekyll build
  artifacts:
    paths:
    - public
  only:
  - master