# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Lanyon
tagline: 'A Jekyll theme'
description: >- # this means to ignore newlines until "baseurl:"
  'A reserved <a href="https://jekyllrb.com" target="_blank">Jekyll</a> theme
  that places the utmost gravity on content with a hidden drawer. Made by
  <a href="https://twitter.com/mdo" target="_blank">@mdo</a>.'
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://lanyon.getpoole.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: mdo
github_username:  mdo
paginate: 1
paginate_path: /page/:num
permalink: /:title

# About/contact
author:
  name: Mark Otto
  url: https://twitter.com/mdo
  email: markdotto@gmail.com

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate

# Custom vars
version: 1.1.0
google_analytics_id: # UA-XXXX-Y

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
