---
layout: page
title: 'Browse Pages'
nav_order: 3
extra_js:
  - masonry.min.js
  - jquery.lazyload.js
---
{% include base.html %}

<p>{{ site.volume_pages|size }} pages, {{ site.annotations|size }} annotations.</p>
<hr/>
<style type="text/css">
{% comment %} override default page size when configured {% endcomment %}
{% if site.image_size.thumbnail.width and site.image_size.thumbnail.height %}
    .page-thumbnails .page-thumbnail {
      width: {{ site.image_size.thumbnail.width }}px;
      height: {{ site.image_size.thumbnail.height }}px;
    }
{% endif %}
  <noscript>
  img.lazy-load {
    display: none;
  }
  </noscript>
</style>


<div class="wide-container">

<div class="page-thumbnails js-masonry"
  data-masonry-options='{ "itemSelector": ".page-thumbnail" }'>
{% for page in site.volume_pages %}
<div class="page-thumbnail">
    <a href="{{ baseurl }}{{ page.url }}" title="{{ page.title }}">
        <p class="page-number">{{ page.short_label}} {{ page.number }}</p>
        <img class="lazy-load" data-original="{{ page.images.thumbnail }}"/>
        <noscript>
            <img src="{{ page.images.thumbnail }}"/>
        </noscript>
        {% assign count = page.annotation_count %}
        {% if count != 0 %}
        <p class="comment-count" title="{{ count }} annotation{{ count|pluralize }}">
            {{ count }}
        </p>
        {% endif %}
    </a>
</div>
{% endfor %}
</div>

</div>



<script>
$(function() {
    $("img.lazy-load").lazyload();
});
</script>


