.content-tag {
  text-decoration: underline;
  display: inline;
}

.content-tag:before {
  content: "#";
  text-decoration: none;
}

.content-tag:after {
  content: " ";
  text-decoration: none;
}

.content-tag:hover {
  text-decoration: none;
}
