.content-tag {
  text-decoration: underline !important;
  display: inline !important;
}

.content-tag:before {
  content: "#";
  text-decoration: none !important;
}

.content-tag:after {
  content: " ";
  text-decoration: none !important;
}

.content-tag:hover {
  text-decoration: none !important;
}
