.sidebar {
	opacity: 0.8;
}

.sidebar:hover {
	opacity: 1.0;
}

.sidebar-logo {
	padding: 1.5rem;
}

.sidebar-logo img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 160px;
	margin: 0 auto;
}