/*

1- Color Custom Vars
2- Reset
3- Base
4- Layout & Helpers
5- Button
6- Link
7- Form
8- Column Grid
9- Video modal

*/

@charset "UTF-8";

/*Start Color Custom Vars*/
:root {
  --color-slate: #465a64;
  --color-payvision-blue: #3237be;
  --color-light-periwinkle: #dcdce0;
  --color-hip-purple: #af9bff;
  --color-off-white: #f2f2e9;
  --color-payvision-green: #007364;
  --color-green-grass: #00cd78;
  --color-pastel-green: #c8ffe1;
  --color-payvision-red: #be3c50;
  --color-brick-red: #ff7d6e;
  --color-mustard-yellow: #ffc882;
  --color-baby-blue: #b9dcff;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;
}
/*End Color Custom Vars*/
/********************************************************/
/********************************************************/
/********************************************************/
/*Start Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End Reset*/
/********************************************************/
/********************************************************/
/********************************************************/
/*Start Base*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
*::-moz-selection {
  color: #ffffff;
  background-color: #ff7d6e;
}
*::selection {
  color: #ffffff;
  background-color: #ff7d6e;
}
@-ms-viewport {
  width: device-width;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  font-size: 22px;
  line-height: 1.3636;
}
body {
  font-family: "Founders Grotesk", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  letter-spacing: normal;
}
input,
select,
textarea {
  font-family: "Founders Grotesk", sans-serif;
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 300;
}
h1,
.h1-like {
  font-size: 2.81818rem;
  margin-bottom: 1.40909rem;
}
@media screen and (min-width: 1024px) {
  h1,
  .h1-like {
    font-size: 3.27273rem;
    margin-bottom: 1.63636rem;
  }
}
h2,
.h2-like {
  font-size: 2.09091rem;
  margin-bottom: 1.04545rem;
}
@media screen and (min-width: 1024px) {
  h2,
  .h2-like {
    font-size: 2.54545rem;
    margin-bottom: 1.27273rem;
  }
}
h3,
.h3-like {
  font-size: 1.81818rem;
  margin-bottom: 0.90909rem;
}
@media screen and (min-width: 1024px) {
  h3,
  .h3-like {
    font-size: 2.27273rem;
    margin-bottom: 1.13636rem;
  }
}
h4,
.h4-like {
  font-size: 1.63636rem;
  margin-bottom: 0.81818rem;
}
@media screen and (min-width: 1024px) {
  h4,
  .h4-like {
    font-size: 2.09091rem;
    margin-bottom: 1.04545rem;
  }
}
h5,
.h5-like {
  font-size: 1.36364rem;
  margin-bottom: 0.68182rem;
}
@media screen and (min-width: 1024px) {
  h5,
  .h5-like {
    font-size: 1.81818rem;
    margin-bottom: 0.90909rem;
  }
}
h6,
.h6-like {
  font-size: 1.13636rem;
  margin-bottom: 0.56818rem;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  h6,
  .h6-like {
    font-size: 1.36364rem;
    margin-bottom: 0.68182rem;
  }
}
p,
ul li,
ol li {
  font-size: 1rem;
  line-height: 1.3636;
  color: #000000;
  margin-bottom: 0.63636rem;
}
.smaller {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.smallest {
  font-size: 0.90909rem;
  margin-bottom: 0.45455rem;
}
.caption {
  font-size: 1.27273rem;
  font-weight: 500;
  margin-bottom: 1.54545rem;
}
.italic {
  font-style: italic;
}
.hero_p {
  font-size: 1.27273rem;
  font-weight: 300;
}
code {
  font-family: "Founders Grotesk Mono", sans-serif;
  font-size: 18px;
}
/*End Base*/
/********************************************************/
/********************************************************/
/********************************************************/
/*Start Layout & Helpers*/
body {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
main {
  display: block;
  margin-top: 60px;
  min-height: calc(100vh - 680px);
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 2px;
  padding-bottom: 1px;
}
@media screen and (min-width: 1024px) {
  main {
    margin-top: 110px;
  }
}
section {
  background-color: #ffffff;
}
a {
  border: none;
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 768px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container--full_width {
    max-width: 1000px;
  }
}

.container--header {
  max-width: 1200px;
}
main > section {
  margin-top: -1px;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-underline {
  text-decoration: underline;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.hidden {
  display: none;
}
.not-visible {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}
.disabled-link {
  cursor: auto;
  pointer-events: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.overflow-hidden {
  overflow: hidden;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.nowrap {
  white-space: nowrap;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.clearfix::after {
  display: block;
  content: "";
  height: 0;
  font-size: 0;
  visibility: hidden;
  clear: both;
}
.tick_item {
  background-position: 0 8px;
  background-size: 13px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
.mobile {
  display: block !important;
  pointer-events: auto;
}
@media screen and (min-width: 1024px) {
  .mobile {
    display: none !important;
    pointer-events: none;
  }
}
.desktop {
  display: none !important;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .desktop {
    display: block !important;
    pointer-events: auto;
  }
}
.pipe-separator:not(:last-of-type)::after {
  content: "|";
  display: inline-block;
  text-align: center;
  width: 0.54545rem;
  height: 100%;
}
.hr {
  width: 100%;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid transparent;
  -webkit-margin-before: 0.45455rem;
  margin-block-start: 0.45455rem;
  -webkit-margin-after: 1.18182rem;
  margin-block-end: 1.18182rem;
}
@media screen and (min-width: 1024px) {
  .desk-height-0 {
    height: 0;
  }
}
.v-aligner {
  height: 100%;
  display: flex;
  align-items: center;
}
.m0 {
  margin: 0 !important;
}
.p0 {
  padding: 0 !important;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}
.mobile {
  display: block !important;
  pointer-events: auto;
}
@media screen and (min-width: 1024px) {
  .mobile {
    display: none !important;
    pointer-events: none;
  }
}
.desktop {
  display: none !important;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .desktop {
    display: block !important;
    pointer-events: auto;
  }
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: none;
}
.swiper-button-next.yv-button_next,
.swiper-button-prev.yv-button_prev {
  display: block;
  width: 90px;
  height: 60px;
  margin: 0;
  top: 0;
  transition: transform 0.2s ease;
}
.swiper-button-next.yv-button_next svg,
.swiper-button-prev.yv-button_prev svg {
  width: 100%;
  height: 100%;
}
.yv-button_next:hover {
  transform: translateX(5px);
}
.yv-button_prev:hover {
  transform: translateX(-5px);
}

/*End Layout & Helpers*/
/********************************************************/
/********************************************************/
/********************************************************/
/*Start Button*/
.yv-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Founders Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 500;
  min-height: 40px;
  line-height: 1rem;
  margin: 0 0 20px 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 6px;
  padding-top: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: baseline;
  border: 1px solid;
  border-color: transparent;
  background-color: #ffffff;
  transition: all 0.125s ease-in-out;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .yv-btn {
    line-height: 34px;
  }
}
.yv-btn > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: inherit;
}
.yv-btn:active {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.yv-btn[class$="_alt"]:active,
.yv-btn[class$="_strong"]:active {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.yv-btn--disabled,
.yv-btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.yv-btn--disabled > *,
.yv-btn:disabled > * {
  cursor: default;
}
.yv-btn--100 {
  width: 100%;
}
.yv-btn--lg {
  font-size: 22px;
  min-height: 50px;
  margin: 0 0 30px 0;
  padding-right: 30px;
  padding-left: 30px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .yv-btn--lg {
    line-height: 44px;
  }
}
.yv-btn--sm {
  min-height: 30px;
  margin: 0 0 10px 0;
  padding-right: 10px;
  padding-left: 10px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .yv-btn--sm {
    line-height: 24px;
  }
}
.yv-btn--red {
  color: #be3c50;
}
.yv-btn--red:hover:not([disabled]) {
  background-color: #ffc882;
}
.yv-btn--green {
  color: #007364;
}
.yv-btn--green:hover:not([disabled]) {
  background-color: #c8ffe1;
}
.yv-btn--blue {
  color: #3237be;
}
.yv-btn--blue:hover:not([disabled]) {
  background-color: #b9dcff;
}
.yv-btn--red_alt {
  color: #be3c50;
  background-color: #ffc882;
}
.yv-btn--red_alt:hover:not([disabled]) {
  border-color: #be3c50;
  background-color: #ffffff;
}
.yv-btn--green_alt {
  color: #007364;
  background-color: #c8ffe1;
}
.yv-btn--green_alt:hover:not([disabled]) {
  border-color: #007364;
  background-color: #ffffff;
}
.yv-btn--blue_alt {
  color: #3237be;
  background-color: #b9dcff;
}
.yv-btn--blue_alt:hover:not([disabled]) {
  border-color: #3237be;
  background-color: #ffffff;
}
.yv-btn--blue_strong {
  color: #ffffff;
  background-color: #3237be;
}
.yv-btn--blue_strong:hover:not([disabled]) {
  color: #3237be;
  border-color: #3237be;
  background-color: #ffffff;
}
.yv-btn--red_strong {
  color: #ffffff;
  background-color: #be3c50;
}
.yv-btn--red_strong:hover:not([disabled]) {
  color: #be3c50;
  border-color: #be3c50;
  background-color: #ffffff;
}
.yv-btn--green_strong {
  color: #ffffff;
  background-color: #007364;
}
.yv-btn--green_strong:hover:not([disabled]) {
  color: #007364;
  border-color: #007364;
  background-color: #ffffff;
}
a.yv-btn--red {
  color: #be3c50;
}
a.yv-btn--red:hover:not(.yv-btn--disabled) {
  background-color: #ffc882;
}
a.yv-btn--green {
  color: #007364;
}
a.yv-btn--green:hover:not(.yv-btn--disabled) {
  background-color: #c8ffe1;
}
a.yv-btn--blue {
  color: #3237be;
}
a.yv-btn--blue:hover:not(.yv-btn--disabled) {
  background-color: #b9dcff;
}
a.yv-btn--red_alt {
  color: #be3c50;
  background-color: #ffc882;
}
a.yv-btn--red_alt:hover:not(.yv-btn--disabled) {
  border-color: #be3c50;
  background-color: #ffffff;
}
a.yv-btn--green_alt {
  color: #007364;
  background-color: #c8ffe1;
}
a.yv-btn--green_alt:hover:not(.yv-btn--disabled) {
  border-color: #007364;
  background-color: #ffffff;
}
a.yv-btn--blue_alt {
  color: #3237be;
  background-color: #b9dcff;
}
a.yv-btn--blue_alt:hover:not(.yv-btn--disabled) {
  border-color: #3237be;
  background-color: #ffffff;
}
a.yv-btn--blue_strong {
  color: #ffffff;
  background-color: #3237be;
}
a.yv-btn--blue_strong:hover:not(.yv-btn--disabled) {
  color: #3237be;
  border-color: #3237be;
  background-color: #ffffff;
}
a.yv-btn--red_strong {
  color: #ffffff;
  background-color: #be3c50;
}
a.yv-btn--red_strong:hover:not(.yv-btn--disabled) {
  color: #be3c50;
  border-color: #be3c50;
  background-color: #ffffff;
}
a.yv-btn--green_strong {
  color: #ffffff;
  background-color: #007364;
}
a.yv-btn--green_strong:hover:not(.yv-btn--disabled) {
  color: #007364;
  border-color: #007364;
  background-color: #ffffff;
}
/*End Button*/
/********************************************************/
/********************************************************/
/********************************************************/
/*Start Link*/
.link {
  height: auto;
  max-height: 1.3636rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.link-text {
  font-weight: inherit;
  text-decoration: underline;
}
.link-icon {
  display: inline-flex;
  height: 100%;
  max-height: 1.3636rem;
  width: 0.86364rem;
  transform: translate3d(0, 0, 0);
  transition: transform 0.125s ease-in-out;
}
.link-icon--vertical {
  height: 0.81818rem;
  width: 0.54545rem;
}
.link--red .link-text {
  color: #be3c50;
}
.link--red .link-icon {
  fill: #be3c50;
}
.link--blue .link-text {
  color: #3237be;
}
.link--blue .link-icon {
  fill: #3237be;
}
.link--green .link-text {
  color: #007364;
}
.link--green .link-icon {
  fill: #007364;
}
.link--mustard-yellow .link-text {
  color: #ffc882;
}
.link--mustard-yellow .link-icon {
  fill: #ffc882;
}
.link--baby-blue .link-text {
  color: #b9dcff;
}
.link--baby-blue .link-icon {
  fill: #b9dcff;
}
.link--pastel-green .link-text {
  color: #c8ffe1;
}
.link--pastel-green .link-icon {
  fill: #c8ffe1;
}
.link--to_right .link-icon {
  margin-left: 0.27273rem;
}
.link--to_right:hover .link-icon {
  transform: translate3d(4px, 0, 0);
}
.link--to_left .link-icon {
  margin-right: 0.27273rem;
}
.link--to_left:hover .link-icon {
  transform: translate3d(-4px, 0, 0);
}
.link--to_bottom .link-icon {
  margin-right: 0rem;
  margin-left: 0.45455rem;
}
.link--to_bottom:hover .link-icon {
  transform: translate3d(0, 4px, 0);
}
.link:hover .link-text {
  text-decoration: none;
}
.link_inline {
  text-decoration: underline;
}
.link_inline--red {
  color: #be3c50;
}
.link_inline--blue {
  color: #3237be;
}
.link_inline--green {
  color: #007364;
}
.link_inline--mustard-yellow {
  color: #ffc882;
}
.link_inline--baby-blue {
  color: #b9dcff;
}
.link_inline--pastel-green {
  color: #c8ffe1;
}
.link_inline:hover {
  text-decoration: none;
}
/*End Link*/
/********************************************************/
/********************************************************/
/********************************************************/
/*Start Form*/
input,
select,
textarea {
  font-size: 100%;
  font-family: "Founders Grotesk", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font: inherit;
  background: none;
  box-sizing: content-box;
  border: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  line-height: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-wrap {
  position: relative;
  background-color: #f2f2e8;
  padding: 1.81818rem 1.36364rem;
}
@media screen and (min-width: 1024px) {
  .form-wrap {
    padding: 1.81818rem;
  }
}
.form-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 232, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.90909rem;
}
.form-label {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0.22727rem;
}
.form-field {
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: 400;
  border: 1px solid;
  border-color: #dbdbdf;
  background-color: #ffffff;
  padding: 0.54545rem 0.18182rem 0.54545rem 0.45455rem;
  transition: border-color ease-in-out 0.125s;
}
.form-field:focus:not(.form-field--error),
.form-field:active:not(.form-field--error) {
  border-color: #465964;
}
.form-field--error {
  border-color: #d0021b;
}
.form-errors {
  display: none;
  overflow: hidden;
  margin-top: 0.22727rem;
}
.form-errors--visible {
  display: block;
}
.form-error {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0.22727rem;
  color: #d0021b;
}
textarea.form-field {
  min-height: 6.81818rem;
}
.form-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: calc(110px + 1rem);
  transition: top 0.25s ease-in-out;
}
/*End Form*/
/********************************************************/
/********************************************************/
/********************************************************/
/*Start Column Grid*/
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 100%;
}
.row--reverse {
  flex-direction: row-reverse;
}
.row--no_gap {
  margin-right: 0;
  margin-left: 0;
}
.row--no_gap > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.xs,
.xs-1,
.xs-1--off,
.xs-2,
.xs-2--off,
.xs-3,
.xs-3--off,
.xs-4,
.xs-4--off,
.xs-5,
.xs-5--off,
.xs-6,
.xs-6--off,
.xs-7,
.xs-7--off,
.xs-8,
.xs-8--off,
.xs-9,
.xs-9--off,
.xs-10,
.xs-10--off,
.xs-11,
.xs-11--off,
.xs-12,
.xs-12--off,
.xs-2_4,
.xs-2_4--off {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 15px;
  padding-left: 15px;
}
.xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.xs--auto {
  flex-basis: auto;
}
.xs--first {
  order: -1;
}
.xs--last {
  order: 1;
}
.xs--reset_order {
  order: unset;
}
.xs--center {
  justify-content: center;
}
.xs--hidden {
  display: none;
}
.xs--visible {
  display: block;
}
.xs-2_4 {
  flex-basis: 20%;
  max-width: 20%;
}
.xs-2_4--off {
  margin-left: 20%;
}
.xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  margin-left: initial;
}
.xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  margin-left: initial;
}
.xs-3 {
  flex-basis: 25%;
  max-width: 25%;
  margin-left: initial;
}
.xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  margin-left: initial;
}
.xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  margin-left: initial;
}
.xs-6 {
  flex-basis: 50%;
  max-width: 50%;
  margin-left: initial;
}
.xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  margin-left: initial;
}
.xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  margin-left: initial;
}
.xs-9 {
  flex-basis: 75%;
  max-width: 75%;
  margin-left: initial;
}
.xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  margin-left: initial;
}
.xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  margin-left: initial;
}
.xs-12 {
  flex-basis: 100%;
  max-width: 100%;
  margin-left: initial;
}
.xs-1--off {
  margin-left: 8.33333%;
}
.xs-2--off {
  margin-left: 16.66667%;
}
.xs-3--off {
  margin-left: 25%;
}
.xs-4--off {
  margin-left: 33.33333%;
}
.xs-5--off {
  margin-left: 41.66667%;
}
.xs-6--off {
  margin-left: 50%;
}
.xs-7--off {
  margin-left: 58.33333%;
}
.xs-8--off {
  margin-left: 66.66667%;
}
.xs-9--off {
  margin-left: 75%;
}
.xs-10--off {
  margin-left: 83.33333%;
}
.xs-11--off {
  margin-left: 91.66667%;
}
.xs-12--off {
  margin-left: 100%;
}
@media screen and (min-width: 580px) {
  .sm,
  .sm-1,
  .sm-1--off,
  .sm-2,
  .sm-2--off,
  .sm-3,
  .sm-3--off,
  .sm-4,
  .sm-4--off,
  .sm-5,
  .sm-5--off,
  .sm-6,
  .sm-6--off,
  .sm-7,
  .sm-7--off,
  .sm-8,
  .sm-8--off,
  .sm-9,
  .sm-9--off,
  .sm-10,
  .sm-10--off,
  .sm-11,
  .sm-11--off,
  .sm-12,
  .sm-12--off,
  .sm-2_4,
  .sm-2_4--off {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .sm--auto {
    flex-basis: auto;
  }
  .sm--first {
    order: -1;
  }
  .sm--last {
    order: 1;
  }
  .sm--reset_order {
    order: unset;
  }
  .sm--center {
    justify-content: center;
  }
  .sm--hidden {
    display: none;
  }
  .sm--visible {
    display: block;
  }
  .sm-2_4 {
    flex-basis: 20%;
    max-width: 20%;
  }
  .sm-2_4--off {
    margin-left: 20%;
  }
  .sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    margin-left: initial;
  }
  .sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    margin-left: initial;
  }
  .sm-3 {
    flex-basis: 25%;
    max-width: 25%;
    margin-left: initial;
  }
  .sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin-left: initial;
  }
  .sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    margin-left: initial;
  }
  .sm-6 {
    flex-basis: 50%;
    max-width: 50%;
    margin-left: initial;
  }
  .sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    margin-left: initial;
  }
  .sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    margin-left: initial;
  }
  .sm-9 {
    flex-basis: 75%;
    max-width: 75%;
    margin-left: initial;
  }
  .sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    margin-left: initial;
  }
  .sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    margin-left: initial;
  }
  .sm-12 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: initial;
  }
  .sm-1--off {
    margin-left: 8.33333%;
  }
  .sm-2--off {
    margin-left: 16.66667%;
  }
  .sm-3--off {
    margin-left: 25%;
  }
  .sm-4--off {
    margin-left: 33.33333%;
  }
  .sm-5--off {
    margin-left: 41.66667%;
  }
  .sm-6--off {
    margin-left: 50%;
  }
  .sm-7--off {
    margin-left: 58.33333%;
  }
  .sm-8--off {
    margin-left: 66.66667%;
  }
  .sm-9--off {
    margin-left: 75%;
  }
  .sm-10--off {
    margin-left: 83.33333%;
  }
  .sm-11--off {
    margin-left: 91.66667%;
  }
  .sm-12--off {
    margin-left: 100%;
  }
}
@media screen and (min-width: 768px) {
  .md,
  .md-1,
  .md-1--off,
  .md-2,
  .md-2--off,
  .md-3,
  .md-3--off,
  .md-4,
  .md-4--off,
  .md-5,
  .md-5--off,
  .md-6,
  .md-6--off,
  .md-7,
  .md-7--off,
  .md-8,
  .md-8--off,
  .md-9,
  .md-9--off,
  .md-10,
  .md-10--off,
  .md-11,
  .md-11--off,
  .md-12,
  .md-12--off,
  .md-2_4,
  .md-2_4--off {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .md--auto {
    flex-basis: auto;
  }
  .md--first {
    order: -1;
  }
  .md--last {
    order: 1;
  }
  .md--reset_order {
    order: unset;
  }
  .md--center {
    justify-content: center;
  }
  .md--hidden {
    display: none;
  }
  .md--visible {
    display: block;
  }
  .md-2_4 {
    flex-basis: 20%;
    max-width: 20%;
  }
  .md-2_4--off {
    margin-left: 20%;
  }
  .md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    margin-left: initial;
  }
  .md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    margin-left: initial;
  }
  .md-3 {
    flex-basis: 25%;
    max-width: 25%;
    margin-left: initial;
  }
  .md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin-left: initial;
  }
  .md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    margin-left: initial;
  }
  .md-6 {
    flex-basis: 50%;
    max-width: 50%;
    margin-left: initial;
  }
  .md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    margin-left: initial;
  }
  .md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    margin-left: initial;
  }
  .md-9 {
    flex-basis: 75%;
    max-width: 75%;
    margin-left: initial;
  }
  .md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    margin-left: initial;
  }
  .md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    margin-left: initial;
  }
  .md-12 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: initial;
  }
  .md-1--off {
    margin-left: 8.33333%;
  }
  .md-2--off {
    margin-left: 16.66667%;
  }
  .md-3--off {
    margin-left: 25%;
  }
  .md-4--off {
    margin-left: 33.33333%;
  }
  .md-5--off {
    margin-left: 41.66667%;
  }
  .md-6--off {
    margin-left: 50%;
  }
  .md-7--off {
    margin-left: 58.33333%;
  }
  .md-8--off {
    margin-left: 66.66667%;
  }
  .md-9--off {
    margin-left: 75%;
  }
  .md-10--off {
    margin-left: 83.33333%;
  }
  .md-11--off {
    margin-left: 91.66667%;
  }
  .md-12--off {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .lg,
  .lg-1,
  .lg-1--off,
  .lg-2,
  .lg-2--off,
  .lg-3,
  .lg-3--off,
  .lg-4,
  .lg-4--off,
  .lg-5,
  .lg-5--off,
  .lg-6,
  .lg-6--off,
  .lg-7,
  .lg-7--off,
  .lg-8,
  .lg-8--off,
  .lg-9,
  .lg-9--off,
  .lg-10,
  .lg-10--off,
  .lg-11,
  .lg-11--off,
  .lg-12,
  .lg-12--off,
  .lg-2_4,
  .lg-2_4--off {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .lg--auto {
    flex-basis: auto;
  }
  .lg--first {
    order: -1;
  }
  .lg--last {
    order: 1;
  }
  .lg--reset_order {
    order: unset;
  }
  .lg--center {
    justify-content: center;
  }
  .lg--hidden {
    display: none;
  }
  .lg--visible {
    display: block;
  }
  .lg-2_4 {
    flex-basis: 20%;
    max-width: 20%;
  }
  .lg-2_4--off {
    margin-left: 20%;
  }
  .lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    margin-left: initial;
  }
  .lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    margin-left: initial;
  }
  .lg-3 {
    flex-basis: 25%;
    max-width: 25%;
    margin-left: initial;
  }
  .lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin-left: initial;
  }
  .lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    margin-left: initial;
  }
  .lg-6 {
    flex-basis: 50%;
    max-width: 50%;
    margin-left: initial;
  }
  .lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    margin-left: initial;
  }
  .lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    margin-left: initial;
  }
  .lg-9 {
    flex-basis: 75%;
    max-width: 75%;
    margin-left: initial;
  }
  .lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    margin-left: initial;
  }
  .lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    margin-left: initial;
  }
  .lg-12 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: initial;
  }
  .lg-1--off {
    margin-left: 8.33333%;
  }
  .lg-2--off {
    margin-left: 16.66667%;
  }
  .lg-3--off {
    margin-left: 25%;
  }
  .lg-4--off {
    margin-left: 33.33333%;
  }
  .lg-5--off {
    margin-left: 41.66667%;
  }
  .lg-6--off {
    margin-left: 50%;
  }
  .lg-7--off {
    margin-left: 58.33333%;
  }
  .lg-8--off {
    margin-left: 66.66667%;
  }
  .lg-9--off {
    margin-left: 75%;
  }
  .lg-10--off {
    margin-left: 83.33333%;
  }
  .lg-11--off {
    margin-left: 91.66667%;
  }
  .lg-12--off {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .xl,
  .xl-1,
  .xl-1--off,
  .xl-2,
  .xl-2--off,
  .xl-3,
  .xl-3--off,
  .xl-4,
  .xl-4--off,
  .xl-5,
  .xl-5--off,
  .xl-6,
  .xl-6--off,
  .xl-7,
  .xl-7--off,
  .xl-8,
  .xl-8--off,
  .xl-9,
  .xl-9--off,
  .xl-10,
  .xl-10--off,
  .xl-11,
  .xl-11--off,
  .xl-12,
  .xl-12--off,
  .xl-2_4,
  .xl-2_4--off {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .xl--auto {
    flex-basis: auto;
  }
  .xl--first {
    order: -1;
  }
  .xl--last {
    order: 1;
  }
  .xl--reset_order {
    order: unset;
  }
  .xl--center {
    justify-content: center;
  }
  .xl--hidden {
    display: none;
  }
  .xl--visible {
    display: block;
  }
  .xl-2_4 {
    flex-basis: 20%;
    max-width: 20%;
  }
  .xl-2_4--off {
    margin-left: 20%;
  }
  .xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    margin-left: initial;
  }
  .xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    margin-left: initial;
  }
  .xl-3 {
    flex-basis: 25%;
    max-width: 25%;
    margin-left: initial;
  }
  .xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin-left: initial;
  }
  .xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    margin-left: initial;
  }
  .xl-6 {
    flex-basis: 50%;
    max-width: 50%;
    margin-left: initial;
  }
  .xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    margin-left: initial;
  }
  .xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    margin-left: initial;
  }
  .xl-9 {
    flex-basis: 75%;
    max-width: 75%;
    margin-left: initial;
  }
  .xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    margin-left: initial;
  }
  .xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    margin-left: initial;
  }
  .xl-12 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: initial;
  }
  .xl-1--off {
    margin-left: 8.33333%;
  }
  .xl-2--off {
    margin-left: 16.66667%;
  }
  .xl-3--off {
    margin-left: 25%;
  }
  .xl-4--off {
    margin-left: 33.33333%;
  }
  .xl-5--off {
    margin-left: 41.66667%;
  }
  .xl-6--off {
    margin-left: 50%;
  }
  .xl-7--off {
    margin-left: 58.33333%;
  }
  .xl-8--off {
    margin-left: 66.66667%;
  }
  .xl-9--off {
    margin-left: 75%;
  }
  .xl-10--off {
    margin-left: 83.33333%;
  }
  .xl-11--off {
    margin-left: 91.66667%;
  }
  .xl-12--off {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .xxl,
  .xxl-1,
  .xxl-1--off,
  .xxl-2,
  .xxl-2--off,
  .xxl-3,
  .xxl-3--off,
  .xxl-4,
  .xxl-4--off,
  .xxl-5,
  .xxl-5--off,
  .xxl-6,
  .xxl-6--off,
  .xxl-7,
  .xxl-7--off,
  .xxl-8,
  .xxl-8--off,
  .xxl-9,
  .xxl-9--off,
  .xxl-10,
  .xxl-10--off,
  .xxl-11,
  .xxl-11--off,
  .xxl-12,
  .xxl-12--off,
  .xxl-2_4,
  .xxl-2_4--off {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .xxl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .xxl--auto {
    flex-basis: auto;
  }
  .xxl--first {
    order: -1;
  }
  .xxl--last {
    order: 1;
  }
  .xxl--reset_order {
    order: unset;
  }
  .xxl--center {
    justify-content: center;
  }
  .xxl--hidden {
    display: none;
  }
  .xxl--visible {
    display: block;
  }
  .xxl-2_4 {
    flex-basis: 20%;
    max-width: 20%;
  }
  .xxl-2_4--off {
    margin-left: 20%;
  }
  .xxl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    margin-left: initial;
  }
  .xxl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    margin-left: initial;
  }
  .xxl-3 {
    flex-basis: 25%;
    max-width: 25%;
    margin-left: initial;
  }
  .xxl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin-left: initial;
  }
  .xxl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    margin-left: initial;
  }
  .xxl-6 {
    flex-basis: 50%;
    max-width: 50%;
    margin-left: initial;
  }
  .xxl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    margin-left: initial;
  }
  .xxl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    margin-left: initial;
  }
  .xxl-9 {
    flex-basis: 75%;
    max-width: 75%;
    margin-left: initial;
  }
  .xxl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    margin-left: initial;
  }
  .xxl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    margin-left: initial;
  }
  .xxl-12 {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: initial;
  }
  .xxl-1--off {
    margin-left: 8.33333%;
  }
  .xxl-2--off {
    margin-left: 16.66667%;
  }
  .xxl-3--off {
    margin-left: 25%;
  }
  .xxl-4--off {
    margin-left: 33.33333%;
  }
  .xxl-5--off {
    margin-left: 41.66667%;
  }
  .xxl-6--off {
    margin-left: 50%;
  }
  .xxl-7--off {
    margin-left: 58.33333%;
  }
  .xxl-8--off {
    margin-left: 66.66667%;
  }
  .xxl-9--off {
    margin-left: 75%;
  }
  .xxl-10--off {
    margin-left: 83.33333%;
  }
  .xxl-11--off {
    margin-left: 91.66667%;
  }
  .xxl-12--off {
    margin-left: 100%;
  }
}
/*End Column Grid*/
/*Start Video modal*/
.video {
  padding-bottom: rem(75px);
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .video {
    padding-bottom: rem(100px);
    padding-top: rem(150px);
  }
}
.video-figure {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 15px;
  background-color: white;
}
.video-figure::before {
  content: "";
  width: 100%;
  display: block;
  height: 0;
  padding-top: 62%;
}
.video-figure:hover .video-icon {
  fill: #af9bff;
}
@media screen and (min-width: 580px) {
  .video-figure {
    margin-top: 0;
  }
}
.video-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  display: block;
}
.video-icon {
  width: 60px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
  fill: #3237be;
}
@media screen and (min-width: 768px) {
  .video-icon {
    width: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .video-icon {
    width: 100px;
  }
}
.video-icon path {
  transition: fill ease 0.25s;
}

.video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 200, 130, 0.75);
  background-blend-mode: screen;
  cursor: pointer;
}

/****/
.modal-wrapper {
  position: relative;
  width: 100%;
  max-width: 1024px;
}
.modal-wrapper::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
.modal-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-overlay {
  position: fixed;
  background-color: rgba(255, 200, 130, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.2s, visibility 0s linear 0.2s;
}
.modal-overlay--active {
  z-index: 9999;
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  transition: all 0.2s, visibility 0s;
}
.modal-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: calc(50vw - 10px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.modal-close_svg {
  width: 22px;
  fill: #3237be;
}
/*End Video modal*/
/*Start Gallery/
/* Gallery */

.gallery_careers {
  padding-top: 50px;
}
@media screen and (min-width: 1024px) {
  .gallery_careers {
    padding-top: 100px;
  }
}
.gallery_careers-btn {
  margin-top: 50px;
}
@media screen and (min-width: 1024px) {
  .gallery_careers-btn {
    margin-top: 100px;
  }
}
.gallery_careers-title {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .gallery_careers-title {
    margin-top: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery_careers-title {
    margin-top: 110px;
  }
}

.gallery_careers-text {
  margin-bottom: 60px;
}

.gallery_careers .swiper-mobile_wrapper {
  margin-top: 50px;
}
.gallery_careers .swiper-main_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #c8ffe1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  pointer-events: all;
  transition: all ease 0.5s;
}
.gallery_careers .swiper-main_wrapper.is-hidden {
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  pointer-events: none;
  z-index: -1;
}
.gallery_careers .swiper-container--desktop {
  padding-bottom: 100px;
}
.gallery_careers .swiper-close_btn_wrap {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: calc(50vw - 10px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.gallery_careers .swiper-close_btn {
  width: 22px;
  fill: #3237be;
}
.gallery_careers .swiper-slide {
  align-items: flex-start !important;
  width: auto !important;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .gallery_careers .swiper-slide {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery_careers .swiper-slide {
    margin-right: 50px;
  }
}
.gallery_careers .swiper-img--1 {
  width: 335px;
}
@media screen and (min-width: 580px) {
  .gallery_careers .swiper-img--1 {
    width: 469px;
  }
}
@media screen and (min-width: 768px) {
  .gallery_careers .swiper-img--1 {
    width: 536px;
  }
}
@media screen and (max-height: 768px) {
  .gallery_careers .swiper-img--1 {
    width: 469px;
  }
}
.gallery_careers .swiper-img--2 {
  width: 185px;
}
@media screen and (min-width: 580px) {
  .gallery_careers .swiper-img--2 {
    width: 259px;
  }
}
@media screen and (min-width: 768px) {
  .gallery_careers .swiper-img--2 {
    width: 296px;
  }
}
@media screen and (max-height: 768px) {
  .gallery_careers .swiper-img--2 {
    width: 259px;
  }
}
.gallery_careers .swiper-img--3 {
  width: 285px;
}
@media screen and (min-width: 580px) {
  .gallery_careers .swiper-img--3 {
    width: 399px;
  }
}
@media screen and (min-width: 768px) {
  .gallery_careers .swiper-img--3 {
    width: 456px;
  }
}
@media screen and (max-height: 768px) {
  .gallery_careers .swiper-img--3 {
    width: 399px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery_careers .swiper-img {
    /*width: auto;*/
  }
}
.gallery_careers .arrows_container {
  position: absolute;
  width: 290px;
  height: 60px;
  bottom: 0;
  left: calc(50vw - 145px);
}
.gallery_careers .arrows_container * {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
/*End Gallery*/
/*Start Gallery*/
.timeline-container {
  overflow: hidden;
}
.timeline-title {
  margin-bottom: 2.27273rem;
}
@media screen and (min-width: 1024px) {
  .timeline-title {
    margin-bottom: 4.54545rem;
  }
}
.timeline-graphic {
  margin-bottom: 30px;
  position: relative;
}
.timeline-graphic::after,
.timeline-graphic::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #3237be;
  height: 2px;
  top: 50%;
}
.timeline-graphic::before {
  width: 23px;
  left: 0;
}
.timeline-graphic::after {
  width: calc(100% - 47px);
  right: 0;
}
.timeline-dot {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 23px;
  background-color: #ff7d6e;
}
.timeline-slide:first-of-type .timeline-graphic::before {
  content: none;
}
.timeline-slide:last-of-type .timeline-graphic::after {
  width: 70vw;
  right: auto;
  left: 47px;
}
.timeline-text {
  max-width: 230px;
  padding-left: 23px;
}
.timeline .arrows_container {
  display: none;
}
@media screen and (min-width: 580px) {
  .timeline .arrows_container {
    display: block;
    width: 100%;
    height: 60px;
  }
}
/*End Gallery*/
/*Start Header*/
.home_button {
  width: 64px;
  height: 100%;
  margin-right: initial;
}
@media screen and (min-width: 1024px) {
  .home_button {
    width: 180px;
    margin-right: 35px;
  }
}
.home_button-link {
  display: flex;
  width: 100%;
  height: 100%;
}
.home_logo {
  width: 100%;
  height: 100%;
  margin-top: 6px;
}
@media screen and (min-width: 1024px) {
  .home_logo {
    margin-top: 2px;
  }
}

.mobile_logo .header_logo-main_color {
  fill: #3237be;
}
.mobile_logo .header_logo-alt_color {
  fill: #af9bff;
}
.m_header--open .mobile_logo .header_logo-main_color {
  fill: #c8ffe1;
}
.m_header--open .mobile_logo .header_logo-alt_color {
  fill: #00cd78;
}
.d_header {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
}
.d_header-top {
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.d_header-bottom {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.d_header-link {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  font-size: 0.90909rem;
  font-weight: 400;
  padding: 5px;
  transition: color 0.25s ease-in-out;
}
.d_header-link:hover,
.d_header-link--active {
  text-decoration: underline;
}
.d_header-btn {
  background-color: #ffffff;
  color: #3237be;
  border-color: transparent;
  margin-left: auto;
}
.d_header-btn:hover {
  background-color: #b9dcff;
}
.header_dropdown {
  position: absolute;
  width: 100%;
  top: 110px;
  transform: translate3d(0, -10px, 0);
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.header_dropdown--active {
  pointer-events: all;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.header_dropdown--active .header_dropdown-arrow {
  transition: transform 0.25s ease-in-out;
}
.header_dropdown--active .header_dropdown-inner_wrapper {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
.header_dropdown-arrow {
  position: absolute;
  top: -5px;
  width: 25px;
  height: 20px;
  overflow: hidden;
  z-index: 1;
  transform: translate3d(40vw, 20px, 0);
}
.header_dropdown-arrow::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  top: 8px;
  left: 2px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header_dropdown-arrow {
    top: -24px;
  }
}
.header_dropdown-container {
  display: flex;
  justify-content: center;
}
.header_dropdown-wrapper {
  position: relative;
  transition: all 0.25s ease-in-out;
}
.header_dropdown-inner_wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: calc(100% - 10px);
  position: absolute;
  box-shadow: none;
  top: 10px;
  background-color: #ffffff;
  transition: all 0.25s ease-in-out;
}
.header_dropdown-pane {
  display: flex;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.125s ease-in-out, visibility 0.001s linear 0.1125s;
}
.header_dropdown-pane--active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.125s ease-in-out 0.125s, visibility 0.001s linear;
}
.header_dropdown-category {
  width: 250px;
  max-width: 300px;
  padding: 60px 32.5px;
}
@media screen and (min-width: 1200px) {
  .header_dropdown-category {
    width: 300px;
    padding: 60px 45px;
  }
}
.header_dropdown-category_title {
  font-size: 0.90909rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 15px;
  padding-left: 5px;
}
.header_dropdown-category_title::first-letter {
  text-transform: capitalize;
}
.header_dropdown-category_title--1 {
  color: #be3c50;
}
.header_dropdown-category_title--2 {
  color: #007364;
}
.header_dropdown-list {
  display: block;
  width: 100%;
}
.header_dropdown-list_item {
  margin-bottom: 15px;
  line-height: 1;
}
.header_dropdown-link {
  line-height: 1;
}
.header_dropdown-picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.125s ease-in-out;
}
.header_dropdown-picture--1 {
  background-color: #007364;
}
.header_dropdown-picture--2 {
  background-color: #ffc980;
}
.header_dropdown-picture_wrapper {
  width: 270px;
  display: block;
  position: relative;
  z-index: 10;
}
.header_dropdown-picture_dot {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c8ffe1;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.header_dropdown-picture_dot::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  background-color: transparent;
  border: 1px solid #00cd78;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform 0.25s ease-in-out 0.5s,
    opacity 0.0625s ease-in-out 0.5025s;
}
.header_dropdown-picture_caption {
  position: absolute;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding: 0 50px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.125s;
}
.header_dropdown-picture_caption--top {
  top: 20%;
}
.header_dropdown-picture_caption--bottom {
  bottom: 22%;
}
.header_dropdown-picture--active {
  opacity: 1;
  transition: opacity 0.125s ease-in-out;
}
.header_dropdown-picture--active .header_dropdown-picture_dot::before {
  opacity: 1;
  transform: scale(3.3);
}
.header_dropdown-picture--active .header_dropdown-picture_caption {
  opacity: 1;
}
.header_dropdown-img {
  position: absolute;
  height: auto;
  bottom: 0;
}
.m_menu {
  margin-left: 35px;
}
.d_main_menu {
  height: 100%;
  display: flex;
  flex-grow: 1;
}
.d_main_menu-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.d_main_menu-list_item {
  display: inline-flex;
  height: 100%;
  align-items: center;
  line-height: 100%;
  margin-bottom: 0;
  cursor: pointer;
}
.d_main_menu-link {
  color: #000000;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
}
.d_secondary_menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.d_secondary_menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}
.d_secondary_menu-list_item {
  margin-bottom: 0;
  line-height: 1;
}
.d_secondary_menu-list_item:last-child .d_secondary_menu-link {
  padding-right: 0;
}
.d_secondary_menu-link {
  color: #c8ffe1;
  font-size: 0.81818rem;
  padding: 5px 10px;
}
.toggle_menu {
  width: 50px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  cursor: pointer;
}
.toggle_menu-button {
  display: block;
  width: 25px;
  height: 100%;
}
.toggle_menu-bar {
  fill: #000000;
  opacity: 1;
  transform-origin: 50% 50%;
  transform: rotate(0);
  transition: fill 0.25s, transform 0.1s ease, opacity 0.05s ease 0.1s;
}
.toggle_menu-bar_wrapper {
  transform-origin: 0% 50%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.1s ease 0.15s;
}
.toggle_menu-bar_wrapper:first-child .toggle_menu-bar {
  transform-origin: 18px 2px;
}
.toggle_menu-bar_wrapper:last-child .toggle_menu-bar {
  transform-origin: 18px 30px;
}
.m_menu_overlay {
  background-color: #3237be;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translate3d(0, -100%, 0);
  z-index: -1;
  transition: transform 0.2375s cubic-bezier(0.28, 0.8, 0.32, 0.94) 0.2125s;
}
.m_menu_overlay-content {
  width: 100%;
  height: calc(100% - (60px + 30px));
  position: relative;
  top: calc(60px + 30px);
}
.m_menu_overlay-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.2125s linear,
    transform 0.375s cubic-bezier(0.28, 0.8, 0.32, 0.94);
}
.m_menu_overlay-pane--main {
  transform: translate3d(0, 0, 0);
  opacity: 0;
}
.m_menu_overlay-pane--main.m_menu_overlay-pane--open {
  transform: translate3d(-100%, 0, 0);
}
.m_menu_overlay-pane--submenu {
  transform: translate3d(100%, 0, 0);
}
.m_menu_overlay-pane--submenu.m_menu_overlay-pane--open {
  transform: translate3d(0, 0, 0);
}
.m_menu_overlay-inner_wrapper {
  padding-bottom: 150px;
}
@media screen and (min-width: 580px) {
  .m_menu_overlay-inner_wrapper {
    display: flex;
    justify-content: center;
  }
}
.m_header {
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.25s ease 0.375s;
}
.m_header-inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.m_header-link {
  display: block;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m_header-link:hover,
.m_header-link--active {
  text-decoration: underline;
}
.m_header--open {
  background-color: #3237be;
  transition: background-color 0.1s ease;
}
.m_header--open .toggle_menu-bar {
  fill: #ffffff;
  opacity: 0;
  transition: opacity 0.05s ease 0.1s, transform 0.1s ease 0.15s;
}
.m_header--open .toggle_menu-bar_wrapper {
  transition: transform 0.1s ease;
}
.m_header--open .toggle_menu-bar_wrapper:first-child {
  transform: translate3d(0%, 45%, 0);
}
.m_header--open .toggle_menu-bar_wrapper:first-child .toggle_menu-bar {
  transform: rotate(45deg);
  opacity: 1;
}
.m_header--open .toggle_menu-bar_wrapper:last-child {
  transform: translate3d(0%, -45%, 0);
}
.m_header--open .toggle_menu-bar_wrapper:last-child .toggle_menu-bar {
  transform: rotate(-45deg);
  opacity: 1;
}
.m_header--open .m_menu_overlay {
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s cubic-bezier(0.28, 0.8, 0.32, 0.94) 0.1s;
}
.m_header--open .m_menu_overlay-pane {
  opacity: 1;
  transition: opacity 0.2125s linear 0.21375s,
    transform 0.375s cubic-bezier(0.28, 0.8, 0.32, 0.94);
}
.m_main_menu {
  margin-bottom: 45px;
}
.m_main_menu-list_item:last-child {
  margin-bottom: 0;
}
.m_main_menu-list_item:not(:last-child) {
  margin-bottom: 25px;
}
.m_main_menu-link {
  font-size: 1rem;
  line-height: 1.14;
  color: #ffffff;
}
@media screen and (min-width: 580px) {
  .m_main_menu-link {
    font-size: 1.27273rem;
  }
}
.m_secondary_menu {
  margin-bottom: 45px;
}
.m_secondary_menu-list_item:last-child {
  margin-bottom: 0;
}
.m_secondary_menu-list_item:not(:last-child) {
  margin-bottom: 15px;
}
.m_secondary_menu-link {
  font-size: 0.90909rem;
  line-height: 1.25;
  color: #b9dcff;
}
@media screen and (min-width: 580px) {
  .m_secondary_menu-link {
    font-size: 1rem;
  }
}
.m_submenu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m_submenu-title {
  margin-bottom: 25px;
}
.m_submenu-category {
  margin-bottom: 36px;
}
.m_submenu-category_title {
  font-size: 0.90909rem;
  font-weight: 500;
  color: #ffc882;
}
@media screen and (min-width: 580px) {
  .m_submenu-category_title {
    font-size: 1rem;
  }
}
.header {
  display: block;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 900;
  background-color: transparent;
  transform: translate3d(0, 0, 0);
  box-shadow: none;
  transition: all 0.375s cubic-bezier(0.28, 0.8, 0.32, 0.94);
}

.header--scrolled {
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.header--scrolled .d_main_menu-link {
  color: #000000;
}
.header--scrolled .d_secondary_menu-link {
  color: #007364;
}
.header--scrolled .d_header-btn {
  background-color: #b9dcff;
}
.header--scrolled .d_header-btn:hover {
  background-color: #ffffff;
  border-color: #3237be;
}
.header--scrolled .m_header:not(.m_header--open) .toggle_menu-bar {
  fill: #000000;
  transition: fill 0.25s 0.2375s;
}
@media screen and (min-width: 1024px) {
  .header--hidden {
    transform: translate3d(0, -100%, 0);
  }
}

/*End Header*/
/*Start Top Section*/
.top-section {
  padding-top: 125px;
}
/*End Top Section*/
