#view-toggle.padding{
    margin-top: 0px;
    margin-right: 30px;
}

#view-toggle .btn {
    border: 1px solid #DDD;
    background-color: #FFF;

}
#view-toggle .btn.active {
    background-color: #6CACE7;
    color: #FFF;
}
#deepzoom-controls {
    margin: auto;
    display: block;
    float: left;
    padding: 7px 10px;
    left: 10%;
}

#deepzoom-controls .btn-group {
    background: #AFAFAF;
    border-radius:3px;
    float: right;
    right: 14%;
}

#deepzoom-controls .btn-group:before{
    content:'';
    width: 0;
    height: 0;
    position:absolute;
    top: -7px;
    left:45%;
    border-style: solid;
    border-width: 0 10px 7px 10px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #B6B5B5 rgba(0, 0, 0, 0);
}

#deepzoom-controls .btn {
    background: transparent;
    border-color: #C4C4C4;
    color: #FFFFFF;
    transition:background-color 0.2s ease;
}

#deepzoom-controls .btn:focus,
#deepzoom-controls .btn:hover{
    background-color: #8B8B8B;
}

#deepzoom-controls.visible{
    margin-bottom: -50px;
    width: 100%;
}

/* class to hide page image without losing its size for page layout  */
.not-visible {
    opacity: 0;
}

#zoom-page {
   position: absolute;
   margin: 0;
   padding: 0;
   text-align:center;
   z-index: -1;
   width: 80%;
   left: 10%;
   height: 1000px;
  color: black;
}

#deepzoom-controls.fullpage{
    z-index:100;
}

#deepzoom-controls.fullpage .btn-group:before{
    display:none;
}

.fullpage+#zoom-page{
    left:0;
}

.btn-primary .text-muted {
    color: white;
    opacity: 0.5;
}

/* styles page image with ocr text overlaid */
.page {
    position: relative;
    z-index: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    left: 0;
    right: 0;
 }
.page .content {
    position: relative;
    margin: auto;
    display: inline-block;
    min-height:100px;
 }
.ocr-line {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    line-height: 1;
    z-index: 5;
    white-space: nowrap;
    cursor: text;

    /* make text transparent */
    color: #000;     /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.0);
}
.ocr-zone {
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}
/* highlighted text style, for browsers that support it (Webkit, Mozilla) */

::selection {
    background: black;
    color: white;
}
::-moz-selection {
    background: black;
    color: white;
}
/* make image not selectable to avoid interference when highlighting ocr text */
.page .content img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
 }

.page .content:after {
  content: '';
  background-image: url('../img/377.GIF');
  display: block;
  opacity:0.5;
  position: absolute;
  z-index: -1;
  height:45px;
  width:45px;
  top: 0;
  left: calc(50% - 22.5px);
}

.page.image-error .content:after {
    display:none;
}

#zoom-page.active+.page .content>img {
  opacity: 0;
}

#zoom-page.active+.page .content:after{
  display:none;
}


.comment-count {
    display: inline-block;
    position: relative;
    min-width:25px;
    height:20px;
    margin:5px 5px 20px;
    padding: 0 5px;
    text-align:center;
    color:#fff;
    background:rgb(49, 197, 40);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* CSS triangle to indicate comment */
.comment-count:before {
  content:"";
  position:absolute;
  bottom:-14px;
  right:2px;
  border:8px solid transparent;
  border-top-color: rgb(49, 197, 40);
}

/* comment placement on cover/page images */
.cover .comment-count {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

article img {
    max-width: 100%;
}

.carousel-control {
    color: #000; text-shadow: 0px 0px 10px #EBEBEB;
    transition: color 0.2s;
    position: fixed;
}

.carousel-control:hover, .carousel-control:focus {
    opacity: 0.6;
    color: #005CFF;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    position: fixed;
}
span.glyphicon.glyphicon-chevron-right {
    right: 2%;
}

span.glyphicon.glyphicon-chevron-left {
    left: 2.5%;
}

.carousel-control.left{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.37) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.37)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.37) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.carousel-control.left:hover{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.21) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.21)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.carousel-control.right{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.37) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.37))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.37) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#5e000000',GradientType=1 ); /* IE6-9 */
}

.carousel-control.right:hover{
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.21))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#36000000',GradientType=1 ); /* IE6-9 */
}

.margin-container {
  right: 100px;
}

.image-annotation-highlight {
  display: block;
  position: absolute;
}


.annotator-hl {
    background: #FFFF0A;
    background: rgba(255,255,10,.3);
}
