<html>
<head><meta charset="utf-8" /></head>
<body>
  <figure>
    <img style="margin: 0 auto 1em auto; display: block;" width="500"
         src="{{ site.url }}/public/images/2022-03-25-emergent-symbols/clevr.png"
         alt="A scene with four objects of differing shape, size and color." />
    <figcaption style="text-align: center; color: gray;">
      A scene with four objects of differing shape, size and color.
      (Credit: <a href="https://cs.stanford.edu/people/jcjohns/clevr/">CLEVR</a>.)
    </figcaption>
  </figure>
</body>
</html>