<div rel="schema:comment">
<div id="{{ annotation.annotation_id }}"
    about="#{{ annotation.annotation_id }}" typeof="schema:Comment">
<meta property="schema:about" content="{{ site.volume_pages[annotation.page_index].url }}"/>
<div class="text" property="schema:text">{{ annotation.content }}</div>
<!-- show annotation author names if configured -->
{% if site.show_annotation_author %}
<div class="annotation-footer"><span class="annotation-author" property="schema:author">{{ annotation.author }}</span></div>
{% endif %}
{% if annotation.tags.size != 0 %}
<div class="annotator-tags">
    {% for tag in annotation.tags %}
    <a class="annotator-tag" property="schema:keywords"
        href="{{ site.baseurl }}/tags/{{ tag }}/">{{ site.data.tags[tag].name }}</a>
    {% endfor %}
</div>
{% endif %}
</div>
</div>