<header id="mainHeader" class="header">

    <div id="desktopHeader" class="desktop d_header">
        <div class="container container--full_width container--header">
            <div class="d_header-bottom">
                <a href="{{ site.baseurl }}/" title="Home">
                    <img src="..\logos\svg\payvision-blue.svg" alt="Payvision Development" class="logo" />
                </a>

                <nav class="m_menu">
                    <ul id="dropdownRoot" class="d_main_menu-list">
                        <li class="d_main_menu-list_item">
                            <a class="d_main_menu-link d_header-link caret-link"
                                href="https://www.payvision.com/">Solutions
                            </a>
                        </li>
                        <li class="d_main_menu-list_item">
                            <a href="https://www.payvision.com/payment-insights/"
                                class="d_main_menu-link d_header-link">
                                Payment insights
                            </a>
                        </li>
                        <li class="d_main_menu-list_item" href="https://www.payvision.com/about/">
                            <a class="d_main_menu-link d_header-link caret-link">About us
                            </a>
                        </li>
                        <li class="d_main_menu-list_item">
                            <a href="https://developers.acehubpaymentservices.com/" target="_blank"
                                rel="noopener noreferrer" class="d_main_menu-link d_header-link">
                                Developers
                            </a>
                        </li>
                        <li class="d_main_menu-list_item">
                            <a href="https://blog.payvision.com/" target="_blank" rel="noopener noreferrer"
                                class="d_main_menu-link d_header-link">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div id="mobileHeader" class="mobile m_header">
        <div class="container container--full_width">
            <div class="m_header-inner_container">
                <div class="home_button">
                    <a class="home_button-link" href="{{ site.baseurl }}/" aria-label="Payvision | Header main logo">
                        <svg version="1.1" class="mobile_logo home_logo header_logo"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 61 32">
                            <g id="yv">
                                <g id="yv-left" class="header_logo-main_color">
                                    <path d="M30.632 0l6.991 20.923h8.189l-6.99-20.923z"></path>
                                    <path d="M0 0l6.991 20.923h8.189l-6.991-20.923z"></path>
                                </g>
                                <g id="yv-right" class="header_logo-alt_color">
                                    <path d="M52.803 0l-6.991 20.923h8.189l6.991-20.923z"></path>
                                    <path d="M22.269 0l-10.645 32h8.227l10.645-32z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div id="mobileMenuToggle" class="toggle_menu">
                    <svg version="1.1" class="toggle_menu-button" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 36 32">
                        <g class="toggle_menu-bar_wrapper">
                            <path class="toggle_menu-bar" d="M0 0h36.364v2.909h-36.364v-2.909z"></path>
                        </g>
                        <path class="toggle_menu-bar" d="M0 14.545h36.364v2.909h-36.364v-2.909z"></path>
                        <g class="toggle_menu-bar_wrapper">
                            <path class="toggle_menu-bar" d="M0 29.091h36.364v2.909h-36.364v-2.909z"></path>
                        </g>
                    </svg>
                </div>
            </div>
        </div>

        <div class="mobile m_menu_overlay">
            <div class="m_menu_overlay-content">
                <div id="subemenuMainPane" class="m_menu_overlay-pane m_menu_overlay-pane--main">
                    <div class="container container--full_width">
                        <div class="m_menu_overlay-inner_wrapper">
                            <nav class="m_navigation">
                                <ul class="m_main_menu">

                                    <li class="m_main_menu-list_item">
                                        <a href="https://www.payvision.com/" class="m_main_menu-link m_header-link">
                                            Solutions
                                        </a>
                                    </li>
                                    <li class="m_main_menu-list_item">
                                        <a href="https://www.payvision.com/payment-insights/"
                                            class="m_main_menu-link m_header-link">
                                            Payment insights
                                        </a>
                                    </li>
                                    <li class="m_main_menu-list_item">
                                        <a href="https://www.payvision.com/about/"
                                            class="m_main_menu-link m_header-link">
                                            About us
                                        </a>
                                    </li>

                                    <li class="m_main_menu-list_item">
                                        <a href="https://developers.acehubpaymentservices.com/" target="_blank"
                                            rel="noopener noreferrer" class="m_main_menu-link m_header-link">
                                            Developers
                                        </a>
                                    </li>

                                    <li class="m_main_menu-list_item">
                                        <a href="https://blog.payvision.com/" target="_blank" rel="noopener noreferrer"
                                            class="m_main_menu-link m_header-link">
                                            Blog
                                        </a>
                                    </li>

                                </ul>
                            </nav>
                            <!-- m_navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- m_menu_overlay -->
    </div>
    <!-- m_header -->
</header>