<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>


  <!-- Latest compiled and minified Bootstrap CSS; include first so lanyon/poole styles override -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="http://emory-lits-labs.github.io/annotator-marginalia/build/0.1.2/annotator.marginalia.min.css" />
  <link rel="stylesheet" href="{{ baseurl }}/public/css/volume_pages.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ baseurl }}/public/favicon.ico">

  <!-- javascript -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  {% for js in page.extra_js %}<script type="text/javascript" src="{{ baseurl }}/public/js/{{ js }}"></script>{% endfor %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

{% comment %}Citation information; currently home page only. {% endcomment %}
{% if page.url == '/' %}
  <link rel="schema.RDF" href="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
  <link rel="schema.DC" href="http://purl.org/dc/elements/1.0/" />
  <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
  <link rel="schema.BIBO" href="http://purl.org/ontology/bibo/" />
  <meta name="DC.identifier" content="{{ site.url }}" />
  <meta name="DC.title" content="{{ site.publication_info.title }}" />
  <meta name="DC.author" content="{{ site.publication_info.author }}" />
  {% for editor in site.publication_info.editors %}
  <meta name="DC.contributor" content="{{ editor }}" />
  {% endfor %}
  <meta name="DC.date" content="{{ site.publication_info.date }}" />
  <link rel="DC.type" href="http://purl.org/dc/terms/BibliographicResource" />
  <meta name="DC.type" content="Book"/> <!-- needed for Zotero -->
  {% if site.publication_info.publisher %}<meta name="DC.publisher" content="{{ site.publication_info.publisher }}" />{% endif %}
  {% if site.publication_info.rights %}<meta name="DC.rights" content="{{ site.publication_info.rights }}" />{% endif %}
  <link rel="DC.source" href="{{ site.source_info.url }}" title="{{ site.sourceb_info.title }}"/>
  <meta name="BIBO.numPages" content="{{ site.volume_pages|size }}" />
{% endif %}
</head>
