{% if page.url == '/' %} {% comment %} home page twitter/opengraph data {% endcomment %}
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:headline" content="{{ site.tagline }}" />
  <meta property="og:image" content="{{ site.homepage_image }}"/>
  {% comment %} site description? {% endcomment %}
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="{{ site.title }}" />
  <meta property="twitter:image" content="{{ site.homepage_image }}"/>
  <meta property="twitter:description" content="{{ site.tagline }}" />
{% else %} {% comment %} secondary page twitter/opengraph data {% endcomment %}
  <meta property="og:title" content="{{ page.title|xml_escape }} - {{ site.title|xml_escape }}"/>
  <meta property="twitter:title" content="{{ page.title|xml_escape }} - {{ site.title|xml_escape }}" />
  {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
    <meta property="twitter:description" content="{{ page.excerpt | strip_html }}" />
  {% elsif page.annotation_count %}  {% comment %} description for volume pages {% endcomment %}
    <meta property="og:description" content="{{ page.title|xml_escape }} of {{ site.publication_info.title|xml_escape }}{% if page.annotation_count != 0 %} with {{ page.annotation_count }} annotations{% endif %}"/>
    <meta property="twitter:description" content="{{ page.title|xml_escape }} of {{ site.publication_info.title|xml_escape }}{% if page.annotation_count != 0 %} with {{ page.annotation_count }} annotations{% endif %}"/>
  {% endif %}

  {% if page.images %}
    <meta property="og:image" content="{{ page.images.thumbnail }}"/>
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="{{ page.images.thumbnail }}"/>
  {% else %}
    <meta property="twitter:card" content="summary">
  {% endif %}
{% endif %}
{% if site.author.twitter %}<meta name="twitter:site" content="@{{ site.author.twitter }}">{% endif %}
{% comment %} post/page author ? {% endcomment %}

