<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>
  </nav>
  
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'About' %} active{% endif %}" href="{{ '/' | absolute_url }}">About</a>
  </nav>

  <div>
    <div class="sidebar-nav-item">Category</div>
    <nav class="content-ul">
      {% for category in site.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}"
         class="sidebar-nav-item pl-3rem">
        <span class="name">{{ category | first }}</span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
      {% endfor %}
    </nav>
  </div>
  <div>
    <div class="sidebar-nav-item">Tags</div>
    <div class="tags-cloud">
      <div>
        {% assign first = site.tags.first %}
        {% assign max = first[1].size %}
        {% assign min = max %}
        {% for tag in site.tags offset:1 %}
        {% if tag[1].size > max %}
        {% assign max = tag[1].size %}
        {% elsif tag[1].size < min %}
        {% assign min = tag[1].size %}
        {% endif %}
        {% endfor %}
  
        {% if max == min %}
        {% assign diff = 1 %}
        {% else %}
        {% assign diff = max | minus: min %}
        {% endif %}
  
        {% for tag in site.tags %}
        {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
        {% assign base = temp | divided_by: 4 %}
        {% assign remain = temp | modulo: 4 %}
        {% if remain == 0 %}
        {% assign size = base | plus: 9 %}
        {% elsif remain == 1 or remain == 2 %}
        {% assign size = base | plus: 9 | append: '.5' %}
        {% else %}
        {% assign size = base | plus: 10 %}
        {% endif %}
        {% if remain == 0 or remain == 1 %}
        {% assign color = 9 | minus: base %}
        {% else %}
        {% assign color = 8 | minus: base %}
        {% endif %}
        <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ 9 | minus: color }}{{ 9 | minus: color }}{{ 9 | minus: color }};">{{ tag[0] }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

