<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p align="center">Today I Learned📚</p>
    <p align="center">
      <img src="https://github.com/dondon17/dondon17.github.io/blob/master/image/profileimg.jpg?raw=true" alt="profile img" style="border-radius: 70%">
      {{ site.description }}
    </p>
    <!-- sns 아이콘 추가 -->
  </div>
  
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="https://dondon17.github.io/">Home</a>
    <a class="sidebar-nav-item" href="../about">About</a>
    <a class="sidebar-nav-item" href="https://github.com/dondon17/">Github Project</a>
  </nav>

  <div>
    <div class="sidebar-nav-item">Category</div>
      <nav class="content-ul">
        <a href="/category/#daily" class="sidebar-nav-item p1-3rem">
          <span class="name">daily</span>
        </a>
        <a href="/category/#jeongbo" class="sidebar-nav-item p1-3rem">
          <span class="name">정보처리기사</span>
        </a>
      </nav>
  </div>
</div>

