/**
 * Syntax highlighting styles
 */

.bghighlight { color: rgb(82, 86, 67); background-color: rgba(132, 189, 0, 0.188235); padding: 2px; }

.highlight {
    .c     {  color: lighten($text-color, 50%); font-style: italic } // Comment
    .err   {  } // Error
    .k     {  color: $alt-color } // Keyword
    // .o     {  }  // Operator
    .cm    {  font-style: italic } // Comment.Multiline
    .cp    {  font-weight: bold }  // Comment.Preproc
    .c1    {  font-style: italic } // Comment.Single
    .cs    {  font-weight: 500; font-style: italic } // Comment.Special
    .gd    {  } // Generic.Deleted
    .gd .x {  } // Generic.Deleted.Specific
    .ge    {  font-style: italic } // Generic.Emph
    .gr    {  } // Generic.Error
    .gh    {  } // Generic.Heading
    .gi    {  } // Generic.Inserted
    .gi .x {  } // Generic.Inserted.Specific
    .go    {  } // Generic.Output
    .gp    {  } // Generic.Prompt
    .gs    {  font-weight: 500 } // Generic.Strong
    .gu    {  } // Generic.Subheading
    .gt    {  } // Generic.Traceback
    .kc    {  font-weight: 500 } // Keyword.Constant
    .kd    {  color: $alt-color; } // Keyword.Declaration
    .kp    {  font-weight: 500 } // Keyword.Pseudo
    .kr    {  font-weight: 500 } // Keyword.Reserved
    .kt    {  font-weight: 500 } // Keyword.Type
    .m     {  } // Literal.Number
    .s     { font-style: italic } // Literal.String
    .na    {  } // Name.Attribute
    .nb    {  } // Name.Builtin
    .nc    {  font-weight: 500 } // Name.Class
    .no    {  } // Name.Constant
    .ni    {  } // Name.Entity
    .ne    {  font-weight: 500 } // Name.Exception
    .nf    {  font-weight: 500 } // Name.Function
    .nn    {  } // Name.Namespace
    .nt    {  } // Name.Tag
    .nv    {  } // Name.Variable
    .ow    {  font-weight: 500 } // Operator.Word
    .w     {  } // Text.Whitespace
    .mf    {  } // Literal.Number.Float
    .mh    {  } // Literal.Number.Hex
    .mi    {  } // Literal.Number.Integer
    .mo    {  } // Literal.Number.Oct
    .sb    {  } // Literal.String.Backtick
    .sc    {  } // Literal.String.Char
    .sd    {  } // Literal.String.Doc
    .s2    {  } // Literal.String.Double
    .se    {  } // Literal.String.Escape
    .sh    {  } // Literal.String.Heredoc
    .si    {  } // Literal.String.Interpol
    .sx    {  } // Literal.String.Other
    .sr    {  } // Literal.String.Regex
    .s1    {  } // Literal.String.Single
    .ss    {  } // Literal.String.Symbol
    .bp    {  } // Name.Builtin.Pseudo
    .vc    {  } // Name.Variable.Class
    .vg    {  } // Name.Variable.Global
    .vi    {  } // Name.Variable.Instance
    .il    {  } // Literal.Number.Integer.Long
}
