---
layout: default
excerpt: Browse annotations by tag.
---
<div class="container">
{% comment %}
  Use tag name from data if we can, but use slug as fallback for display.
{% endcomment %}
{% if site.data.tags contains page.tag %}
    {% assign tag_name = site.data.tags[page.tag].name %}
{% endif %}

<h1>Annotations tagged with {{ tag_name }}</h1>

    {% if site.data.tags[page.tag] %}
    {% comment %} FIXME: annotations currently not sorted ... {% endcomment %}
    {% comment %} Note that it may not be possible to sort without adding more data to the import {% endcomment %}
        {% for annotation in site.annotations|sort: 'sort_order' %}
        {% if annotation.tags contains page.tag %}
        <div class="media">
            {% assign page=site.volume_pages[annotation.page_index] %}
            {% ifchanged %}<h4><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h4>{% endifchanged %}
            <div class="media-left">
                <a href="{{ site.baseurl }}{{ page.url }}">
                    <p class="page-number">{{ page.short_label}} {{ page.number }}</p>
                     <img class="media-object img-thumbnail"
                        src="{{ page.images.small-thumbnail }}"
                        alt="{{ page.title }}" title="{{ page.title }}"/>
                 </a>
            </div>
             <div class="media-body" class="width:100%">
            <a class="to-fullpage" href="{{ site.baseurl }}{{ annotation.url }}" title="full page annotation view"><i class="fa fa-expand"></i></a>

            {% include annotation.html %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
    <p>No annotations with this tag.</p>
    {% endif %}


</div>