<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <body>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <a href="{{ site.baseurl }}/" title="Home">
            <img
              src="..\logos\svg\payvision-blue.svg"
              alt="Payvision Development"
              class="logo"
            />
          </a>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <footer class="main_footer">
      <div class="container container--full_width">
        <nav class="footer_nav">
        </nav>
        <ul class="footer_social_list">
          <li class="footer_social_list-item">
            <a
              href="https://www.linkedin.com/company/payvision/"
              class="footer_social_list-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="footer_social_list-icon icon-social-in"
                width="32px"
                height="32px"
                viewBox="0 0 32 32"
              >
                <title>LinkedIn - Icon</title>
                <path
                  d="M27.077 26.585h-4.749v-7.642c0-1.919-0.686-3.23-2.405-3.23-1.313 0-2.093 0.882-2.436 1.737-0.125 0.305-0.157 0.729-0.157 1.157v7.977h-4.75c0 0 0.063-12.944 0-14.284h4.75v2.024c0.631-0.971 1.757-2.36 4.28-2.36 3.125 0 5.468 2.041 5.468 6.428v8.191zM7.579 10.352h-0.031c-1.593 0-2.625-1.097-2.625-2.469 0-1.401 1.063-2.468 2.687-2.468s2.624 1.066 2.655 2.468c0 1.372-1.030 2.469-2.686 2.469zM5.205 26.585v-14.284h4.748v14.284h-4.748zM0 32h32v-32h-32v32z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="footer_social_list-item">
            <a
              href="https://twitter.com/payvision"
              class="footer_social_list-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="footer_social_list-icon icon-social-tw"
                width="32px"
                height="32px"
                viewBox="0 0 32 32"
              >
                <title>Twitter - Icon</title>
                <path
                  d="M25.367 11.512c0.008 0.188 0.011 0.377 0.011 0.566 0 7.607-6.167 13.775-13.775 13.775-2.708 0-5.234-0.782-7.364-2.132v0c4.163 0.621 7.096-2.028 7.096-2.028-3.71-0.289-4.443-3.376-4.443-3.376 1.311 0.222 2.133-0.090 2.133-0.090-4.176-0.977-3.821-4.798-3.821-4.798 0.967 0.578 2.088 0.623 2.088 0.623-3.687-3.243-1.377-6.397-1.377-6.397 3.866 4.681 9.548 5 9.921 5.015-0.082-0.352-0.125-0.718-0.125-1.095 0-2.668 2.163-4.831 4.834-4.831 1.392 0 2.646 0.588 3.528 1.529 0.245-0.069 0.482-0.143 0.708-0.218 1.369-0.457 2.346-0.978 2.346-0.978-0.236 1.413-1.979 2.599-2.103 2.683-0.005 0.003-0.007 0.005-0.007 0.005 0.002 0 0.006-0.001 0.009-0.001 1.353-0.135 2.735-0.71 2.735-0.71-0.417 0.877-2.119 2.241-2.394 2.458zM0 32h32v-32h-32v32z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="footer_social_list-item">
            <a
              href="https://www.youtube.com/user/payvisioncom"
              class="footer_social_list-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="footer_social_list-icon icon-social-yt"
                width="32px"
                height="32px"
                viewBox="0 0 32 32"
              >
                <title>Youtube - Icon</title>
                <path
                  d="M0 0h32v32h-32v-32zM27.399 9.809c-0.275-1.028-1.085-1.838-2.113-2.113-1.864-0.499-9.337-0.499-9.337-0.499s-7.473 0-9.337 0.499c-1.028 0.275-1.838 1.085-2.113 2.113-0.499 1.864-0.499 5.752-0.499 5.752s0 3.889 0.499 5.752c0.275 1.028 1.085 1.838 2.113 2.113 1.864 0.499 9.337 0.499 9.337 0.499s7.473 0 9.337-0.499c1.028-0.275 1.838-1.085 2.113-2.113 0.499-1.864 0.499-5.752 0.499-5.752s0-3.889-0.499-5.752zM13.559 19.146v-7.17l6.209 3.585-6.209 3.585z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="footer_social_list-item">
            <a
              href="https://www.facebook.com/Payvision"
              class="footer_social_list-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="footer_social_list-icon icon-social-fb"
                width="32px"
                height="32px"
                viewBox="0 0 32 32"
              >
                <title>Facebook - Icon</title>
                <path
                  d="M0 0v32h17.042v-12.361h-4.166v-5.046h4.166v-4.238c0-3.082 2.498-5.581 5.58-5.581h4.355v4.538h-3.116c-0.98 0-1.773 0.794-1.773 1.773v3.507h4.811l-0.665 5.046h-4.146v12.361h9.912v-32h-32z"
                ></path>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer_info">
          <p class="footer_info-text">All contents copyright Payvision.</p>
          <p class="footer_info-text">
            Payvision is a registered ISO/MSP of Merrick Bank, South Jordan, UT.
          </p>
          <a
            href="https://www.payvision.com/legal-disclaimer/"
            class="pipe-separator main_footer-link"
            >Legal Disclaimer</a
          ><a
            href="https://www.payvision.com/privacy-and-cookie-policy/"
            class="pipe-separator main_footer-link"
            >Cookie &amp; Privacy Statement</a
          ><a
            href="https://www.payvision.com/applicant-privacy-notice/"
            class="pipe-separator main_footer-link"
            >Applicant Privacy Notice</a
          >
        </div>
      </div>
    </footer>

    <script src="{{ site.baseurl }}/public/js/script.js"></script>
  </body>
</html>
