<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>L'alba di un tramonto</title>
<link rel="stylesheet" href="https://stackedit.io/res-min/themes/base.css" />
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<style>
  p, span, em, ul, li {
    font-size: 20px !important;
    text-align: left !important;
  }

  h1, h1 a {
    font-size: 54px !important;
    color: black;
  }

  h2 {
    font-size: 45px !important;
    color: black;
  }
</style>
</head>
<body>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>