---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span>{{page.authors}}</span>
  <span class="post-date">{{ page.date | date_to_string }} | {% for tag in page.tags %}
    <a class="content-tag" href="/tags/#{{ tag | slugify }}"> {{ tag }} </a>
  {% endfor %}</span>
  {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }} | {% for tag in page.tags %}
    <a class="content-tag" href="/tags/#{{ tag | slugify }}"> {{ tag }} </a>
  {% endfor %}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<script src="https://utteranc.es/client.js"
        repo="bourbaki-blogchain/bourbaki-blogchain.github.io"
        issue-term="pathname"
        label="utterance"
        theme="boxy-light"
        crossorigin="anonymous"
        >
</script>

<script>
addEventListener('utterances-loaded', function(event) {
  var issue = event.detail.issue;
  var comments = event.detail.comments;
  var user = event.detail.user;
  console.log(issue);
    console.log(comments);
      console.log(user);
  // ... do something with the data ...
});
</script>
