---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="pagination">
  {% if page.previous.url %}
    <a class="pagination-item older" href="{{page.previous.url}}">&laquo;&nbsp;Previous</a>
  {% else %}
    <span class="pagination-item older">&laquo;&nbsp;Previous</span>
  {% endif %}
  {% if page.next.url %}
    <a class="pagination-item newer" href="{{page.next.url}}">Next&nbsp;&raquo;</a>
  {% else %}
    <span class="pagination-item newer">Next&nbsp;&raquo;</span>
  {% endif %}
</div>
